body {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

a:hover{
    text-decoration: none;
}

/* 로고 */
#title {
    color:rgb(58, 57, 57);
}

article{
    width:100%;   
    overflow:auto;
}
.main{
    background-color: #83b5d1;
    height:500px;
}

#certificate{
    height:500px;
}

#introduce img{
    width:250px;
    height:250px;
}

#introduce {
    height:750px;
}
/* typing */
.text {
    font-weight: 500;
    font-size:2.25rem;
    color:#fff;
    margin-top:200px;
}

article span{
    float:right;
    font-size:13px;
}

dl {
    font-size: 18px;
    width: 315px;
    margin-top:30px;
}

dd{
    text-align:right;
    width:70% !important;
}

dt {
    width:30% !important;
}

h2.name {
    margin-top:30px;
}


.project {
    width:100%;
}

.project img{
    width:100%;
}

.card-img-top {
    border-bottom:1px solid #eee;
}


.card-deck a{
    color:#212529;
}
.card:hover{
    box-shadow: 5px 5px 2px #eee;
    transition:all 0.3s;
}

.card:hover .cover{
    background-color:rgba(0,0,0,0);
    transition:all 0.3s;
}
.card-title {
    font-weight: bold;
    color:#83b5d1;
}

.cover {
    width:100%;
    background-color:rgba(0,0,0,0.3);
    position:absolute;
}




.blockquote{
    color:#83b5d1;
}
/* 자격증 */
.title{
    text-align:center;
    display: inline-block;
    width:100%;
}

.skil {
    width: 60%;
    margin: 0 auto;
    list-style: none;
}

.skil li{
    text-align:center;
    border: 1px solid #ddd;
    width: calc(100%/8);
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
}

@media (min-width: 576px) {
    .text {
        font-size:50px;
        margin-top:160px;
    }
    #introduce img{
        width:300px;
        height:300px;
    }
    .project li {
        width:calc(100%/3);
        height:240px;
        float:left;
    }
    dl {
        font-size: 18px;
        width: 340px;
    }
    dt, dd {
        width:50%!important;
    }
    .card-deck {
        margin-bottom:50px;
    }
}