body {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

a:hover{
    text-decoration: none;
}

/* 로고 */
#title {
    color:rgb(58, 57, 57);
}

article{
    width:100%;   
    overflow:auto;
}
.main{
    background-color: #83b5d1;
    height:500px;
}

#certificate{
    height:500px;
}

#introduce img{
    width:250px;
    height:250px;
}

#introduce {
    height:750px;
}
/* typing */
.text {
    font-weight: 500;
    font-size:2.25rem;
    color:#fff;
    margin-top:160px;
}

article span{
    float:right;
    font-size:13px;
}

.project {
    width:100%;
}

.project > ul {
    padding:0;
}

.project li{
    width:100%;
    list-style: none;
    background-color: #eee;
    height:200px;
}

dl {
    font-size: 18px;
    width: 320px;
    margin-top:30px;
   
}

dd{
    text-align:right;
    width:70% !important;
}

dt {
    width:30% !important;
}
h2.name {
    margin-top:30px;
}
 span{
    font-size:10px;
}

.blockquote{
    color:#83b5d1;
}
/* 자격증 */
.title{
    text-align:center;
    display: inline-block;
    width:95%;
}



@media (min-width: 576px) {
    .text {
        font-size:50px;
    }
    #introduce img{
        width:300px;
        height:300px;
    }
    .project li {
        width:calc(100%/3);
        height:240px;
        float:left;
    }
    dl {
        font-size: 18px;
        width: 340px;
    }
    dt, dd {
        width:50%!important;
    }
}